<div class="item my-1">
  <a :href="story.url">
    <p>
      <span x-text="story.title" class="text-bold"></span>
      <span x-text="`(${story.domain})`"></span>
    </p>
  </a>
  
  <p>
    <span x-text="story.points"></span>
    <span> points by </span>
    <a :href="getUserLink(story.user)">
      <span x-text="story.user" class="text-underline"></span>
    </a>
    <span> | </span>
    <span x-text="story.time_ago"></span>
    <span> | </span>
    <a :href="getItemLink(story.id)" class="text-underline">
      <span x-text="story.comments_count"></span>
      <span> comments</span>
    </a>
  </p>
</div>