@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --font-color: lightgray;
}

[x-cloak] { display: none !important; }

* {
    font-family: 'Open Sans', sans-serif;
    /* font-weight: 300; */
    padding: 0;
    margin: 0;
    /* background-color: #323232; */
    /* color: var(--font-color); */
}

ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

/* Utilities */

.container {
    width: 768px;
    margin: auto;
    margin-bottom: 2rem;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-underline {
    /* text-decoration: underline; */
    border-bottom: 1px dashed;
}

.my-1 {
    margin: 1rem 0;  
}

.my-2 {
    margin: 2rem 0;  
}

.px-2l {
    padding-left: 10px;
}

/* CSS */

.nav-bar {
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    gap: 4rem;
    margin: 2rem 0;
    box-sizing: border-box;
    padding-bottom: 0.8rem;
    /* border-bottom: 1px solid; */
}

.nav-bar li {
    display: inline;
}

.item {
    display: flex;
    align-items: center;
}

.item > div:first-of-type {
    width: 12%;
}

.item > div {
    width: 88%;
}

.item-no {
    /* padding: 0 2.5rem 0 1rem; */
    font-size: 1.5rem;
    color: grey;
    font-weight: 300;
    text-align: center;
}

.comment {
    border-left: solid 2px lightgray;
    padding-left: 1rem;
}

.comment-head {
    color: gray;
}

#logo {
    padding: 5px 15px 5px 0;
    font-family: monospace;
    font-size: 1rem;
    border-right: 1px solid;
}

@media only screen and (max-width: 892px) and (orientation: portrait) {
    .container {
        width: initial;
        margin: 2rem;
    }

    .nav-bar {
        padding-left: 0;
        gap: 1.6rem;
    }

    .item > div:first-of-type {
        width: 20%;
        margin-left: -0.75rem;
        margin-right: 0.5rem;
    }

    .item > div {
        width: 80%;
    }
}