@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

/* Utilities */

.container {
    width: 768px;
    margin: auto;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-underline {
    text-decoration: underline;
}

.my-1 {
    margin: 1rem 0;  
}

.my-2 {
    margin: 2rem 0;  
}