<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}"
      x-data="themeHandler()"
>

  {%- include head.html -%}

  <body x-init="init()">
    <div class="container"
         x-data="{ current: '', page: 1 }"
         x-init="
          current = getParam(window.location.search, 'section') || 'top';
          page = getParam(window.location.search, 'page') || 1">
      <!-- <h2 class="text-center"><a href="/">{{ site.title }}</a></h2> -->

      <ul class="nav-bar">
        <li><a href="/?section=top&page=1" id="logo" class="text-bold">AJHN</a></li>
        <template x-for="section in Object.keys(SECTIONS)">
          <li>
            <a :href="`/?section=${section}&page=1`" x-text="section" 
               :class="current === section ? 'text-bold' : ''">
               <!-- @click.prevent="current = $el.innerText; page = 1"  -->
            </a>
          </li>
        </template>
      </ul>

      {{ content }}

    </div>

    <script>
      function themeHandler() {
        return {
          init() {
            const darkMode = window.matchMedia('(prefers-color-scheme: dark)');

            this.updateTheme(darkMode.matches);

            darkMode.addEventListener('change', (event) => {
                this.updateTheme(event.matches);
            });
          },
          updateTheme(isDarkMode) {
            if (isDarkMode) {
                this.setDarkMode();
            } else {
                this.setLightMode();
            }
          },
          getThemeColor() {
            const rootStyles = getComputedStyle(document.documentElement);
            return themeColor = rootStyles.getPropertyValue('--background-color').trim();
          },
          setDarkMode() {
            document.querySelector('meta[name="theme-color"]').setAttribute('content', this.getThemeColor());
            document.querySelector('meta[name="apple-mobile-web-app-status-bar-style"]').setAttribute('content', 'black');
          },
          setLightMode() {
            document.querySelector('meta[name="theme-color"]').setAttribute('content', this.getThemeColor());
            document.querySelector('meta[name="apple-mobile-web-app-status-bar-style"]').setAttribute('content', 'default');
          },
        }
      }
  </script>
  </body>

</html>
